body {
    font-size: 13px;
    color: #333333;
    background-color: #ffffff;
    font-family: 'Time';
}
.container {
    width: 100%;
    margin: 0 auto;
}
main {
    width: 80%;
    margin: 0 auto;
    padding: 16px 40px;
}
header {
    width: 80%;
    margin: 0 auto;
}
.logo {
    float: left;
    margin-left: 100px;
    position: relative;
}
.logo img {
    width: 100px;
}
.top {
    background: #698df3;
    padding-top: 25px;
    padding-bottom: 25px;
    color: white;
    font-size: 20px;
}
.author {
    display: inline-block;
    margin-left: 75%;
}
.top i:first-child {
    float: right;
    margin-right: 265px;
}
.menu {
    float: right;
    margin-right: 115px;
    margin-top: 40px;
}
.menu a {
    display: inline-block;
    margin-right: 10px;
    padding-right: 5px;
    border-right: 2px solid black;
    font-size: 15px;
}
.menu a:last-child{
    border: none;
}
section {
    width: 80%;
    margin: 0 auto;
}
article {
    width: 29%;
    float: left;
    margin-right: 32px;
    margin-top: 30px;
    font-family: 'Kalam';
}
article a {
    font-size: 20px;
    font-weight: 600;
}
article img {
    width: 280px;
}
.clear-float {
    clear: both;
}
footer {
    font-size: 15px;
    width: 80%;
    margin: 0 auto;
    color: white;
    text-align: center;
    background: #698df3;
    line-height: 40px;
}
.title-logo {
    display: inline-block;
    font-weight: 600;
    font-size: 30px;
    position: absolute;
    top: 40px;
    left:100px;
    width: 200px;
}