body {
    font-size: 13px;
    color: #333333;
    background-color: #ffffff;
    font-family: 'Time';
}

.container {
    width: 100%;
    margin: 0 auto;
}

main {
    margin: 0 auto;
}

header {
    margin: 0 auto;
    background: #eaf2ff;
    position: sticky;
    top: 0px;
}

.logo {
    float: left;
    margin-left: 100px;
    position: relative;
}

.logo img {
    width: 100px;
}

.top {
    background: #698df3;
    padding-top: 25px;
    padding-bottom: 25px;
    color: white;
    font-size: 20px;
}

.author {
    display: inline-block;
    margin-left: 75%;
}

.top i:first-child {
    float: right;
    margin-right: 265px;
}

.menu {
    float: right;
    margin-right: 115px;
    margin-top: 40px;
}

.menu a {
    display: inline-block;
    margin-right: 10px;
    padding-right: 5px;
    border-right: 2px solid black;
    font-size: 15px;
}

.menu a:last-child {
    border: none;
}

section {
    width: 80%;
    margin: 0 auto;
}

article {
    width: 29%;
    float: left;
    margin: 30px 10px;
    font-family: 'Kalam';
}

article a {
    font-family: Tahoma;
    font-size: 15px;
    font-weight: 600;
}

article img {
    width: 280px;
}

.clear-float {
    clear: both;
}

footer {
    font-size: 15px;
    margin: 0 auto;
    color: white;
    text-align: center;
    background: #698df3;
    line-height: 40px;
}

.title-logo {
    display: inline-block;
    font-weight: 600;
    font-size: 30px;
    position: absolute;
    top: 40px;
    left: 100px;
    width: 200px;
}

.scross {
    position: fixed;
    right: 1%;
    bottom: 20px;
    border: 1px solid #444;
    border-radius: 14px;
    padding: 0 10px;
    font-size: 15px;
    background: #dce2f3;
}

.scross i {
    font-size: 20px;
}